[2022-07-08 10:23] lewtun opened #8 "Implement end-to-end differentiable model"
The current SetFit implementation combines the embeddings of a frozen body, with the learnable parameters of a logistic regression classifier.

It would be desirable to have a PyTorch implementation that is end-to-end differentiable. This isn't entirely trivial as we'll likely need different learning rates for the body vs the head.

[2022-09-05 20:55] lewtun opened #50 "Refactor RunFewShot to Trainer"

[2022-09-21 08:09] lewtun commented on #50
Closed by #59

[2022-09-21 08:09] #50 closed

[2022-09-26 21:49] mpangrazzi opened #65 "Multilabel support"
Hi!

do you think it could be possible to handle multilabel classification as well (and so handling an array of labels for each single example)? Like e.g. wrapping the LogisticRegression using an [OneVsRestClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.multiclass.OneVsRestClassifier.html)?

Thanks!

PS: this is a very nice work! 😄

[2022-09-27 07:29] lewtun commented on #65
Hey @mpangrazzi, yes SetFit works very well in multi-label scenarios and @fgbelidji has implemented a script here for that: https://github.com/huggingface/setfit/blob/b5da11157b85ef68f01b87dc1058fa36f36ba291/scripts/setfit/run_fewshot_multilabel.py#L104

What's currently missing is a nice integration with the `SetFitTrainer`, so a PR for that would be very welcome (if I don't get to it first :))

[2022-09-27 08:22] techthiyanes opened #66 "How to save the model that is fitted"
Could you please share the ways to save the fitted model

[2022-09-27 08:59] YaYaB commented on #66
You can save the model thanks to this
[code]
https://github.com/huggingface/setfit/blob/main/src/setfit/modeling.py#L55

[2022-09-27 09:18] techthiyanes commented on #66
Actually could you please guide us how to save the model after completing trainer.train().

In HF trainer, we have trainer.save_model() to save the models.

But this save_pretrained() method saves the model that's not fitted

[2022-09-27 09:39] YaYaB commented on #66
The model_body is finetuned during the training and the model_head is trained. You can try `save_pretrained` before training and after training to verify that the files dumped are not the same. You can then load those with load_pretrained and make predictions to observe the differences too
The SetFitModel is baed on ModelHubMixin, in the doc it is specified that the save_pretrained method dumps th

[2022-09-27 11:28] techthiyanes commented on #66
Thanks for your response.
Once i trained, I have used trainer.model._from_pretrained('/content/drive/MyDrive/saved') to load the model.
Predict &predict_proba are used it for prediction.

To load the model again, used simply model = SetFitModel.from_pretrained("/content/drive/MyDrive/saved") then able to predict & found the expected prediction. Thanks a lot.

[2022-09-27 11:55] #66 closed

[2022-09-27 12:53] jrivd opened #67 "'SetFitTrainer' object has no attribute 'config'"
Hi, first of all congrats for this huge work!

I have trained a model and am trying to make predictions with pipeline, however, it keeps throwing a 'SetFitTrainer' object has no attribute 'config'. If not that, what's the correct way to run this model?

Many thanks.

[2022-09-27 14:25] a-sharma123 opened #68 "Error when trying to run run_fewshot_multilabel.py"
Hi! Congratulations on the work! I wanted to use this model for my multilabel task but I have an issue when trying to run the script for multilabel classification (run_fewshot_multilabel.py)
i get this error.
`from setfit.modeling import LOSS_NAME_TO_CLASS, SetFitBaseModel, SKLearnWrapper, sentence_pairs_generation_multilabel
ImportError: cannot import name 'LOSS_NAME_TO_CLASS' from 'setfit.modeli

[2022-09-27 14:43] lewtun commented on #67
Hey @jrivd thanks for reporting the issue! Could you please share a code snippet with how the error is being generated?

[2022-09-27 14:44] lewtun commented on #68
Hey @a-sharma123 thanks for reporting this bug! It's definitely a side effect from a recent refactoring - I'll fix it ASAP.

[2022-09-27 15:06] sanderland commented on #65
Also very interested in trying this on multi-label cases.
One question from reading the code: am I correct in understanding `sentence_pairs_generation_multilabel` gives a label "1" if any label overlaps and "0" on completely disjoint examples? If so, doesn't this give problems when e.g. one label is a strict subset of another, or one label is rather unbalanced.

[2022-09-27 15:13] jrivd commented on #67
Sure, there it is:

[code]

[2022-09-28 10:20] #68 closed

[2022-09-28 10:22] lewtun commented on #68
This is now fixed! Just FYI our scripts were designed with our paper in mind, so we assume the datasets exist under the `SetFit` org on the Hub. Another consideration is that we assume the multilabel datasets have been "flattened", with one column per class, e.g. https://huggingface.co/datasets/SetFit/go_emotions

[2022-09-28 14:51] a-sharma123 commented on #68
thanks for fixing the issue! I cloned the new repo and tried running the script, the model started running but after 5 mins the model stops and this error pops up.
`Traceback (most recent call last):
  File "C:\Users\myprofile\Documents\Codes\setfit\scripts\setfit\run_fewshot_multilabel.py", line 200, in <module>
    main()
  File "C:\Users\myprofile\Documents\Codes\setfit\scripts\setfit\run_fewsh

[2022-09-29 11:02] dpicca opened #73 "Mac M1 GPU support"
Hi,

I am wondering if there is a way to send the model to `mps` GPU (mac apple M1)

Something like:
[code]

in order  to exploit the GPU since so far it uses only CPU.

Many thanks in advance for your help

[2022-09-29 13:19] lewtun commented on #67
Great! Closing this issue for now - feel free to reopen if needed :)

[2022-09-29 13:19] #67 closed

[2022-09-30 11:52] danielkorat commented on #73
Hey @dpicca thanks for your question!
Please try the following walkthrough on using M1 GPU with Sentence Transformers:

https://jamescalam.medium.com/hugging-face-and-sentence-transformers-on-m1-macs-4b12e40c21ce

[2022-09-30 12:29] dpicca commented on #73
Thanks @danielkorat for your reply.
I have already tried it but it did not work.  Sorry I didn't mention this in the previous post.

Any alternative?
Thanks

[2022-09-30 16:48] danielkorat commented on #73
I see, can you please elaborate how exactly it failed or share a stack trace?
Thank you !

cc @lewtun any ideas?

[2022-10-01 17:14] dpicca commented on #73
Indeed, technically speaking it does not fail. I have no errors popping up or other failures.

The only issue is that it works on CPU mode without triggering the GPU mode.  So this is the reason of my first question: how to send the process to the GPU on Mac M1.
Something like:

[code]

[2022-10-02 15:00] sayakpaul opened #76 "requirements.txt missing in scripts/setfit?"

[2022-10-02 20:05] NIVEA77 opened #77 "I've migrated the plain text README file to one that is markdown compatible and nice and fancy."
I've migrated the plain text README file to one that is markdown compatible and nice and fancy.

__Originally posted by @Richienb in https://github.com/jfriend00/docReady/pull/5__

[2022-10-02 21:12] blakechi opened #78 "Onnx support?"
Hi, really like this work!

Given its advantage on faster inference, have you considered adding support functions, like the example below, to compile `SetFitTrainer` into the onnx format for production-wise usage?

If that sounds promising, I will be happy to make this feature work!

Example:
[code]

[2022-10-03 12:01] lewtun commented on #73
Thanks for the clarification @dpicca !

As you suggest, I think we'd need to expose a `to()` method in `SetFitModel` that puts the Sentence Transformer body on the appropriate device. We would welcome a PR from you if you're interested!

[2022-10-03 12:22] lewtun commented on #78
Hi @blakechi thanks for your interest in our work! Instead of compiling `SetFitTrainer` into ONNX, I think it would be better to have something like an `onnx_export()` function that lives inside a `setfit.onnx` module.

Ideally, this function would take a `SetFitModel` as input and output `model.onnx`, similar to what was done for Stable Diffusion here: https://github.com/huggingface/diffusers/blo

[2022-10-03 12:23] #77 closed

[2022-10-03 12:57] dpicca commented on #73
HI @lewtun
I tried a quick and dirty fix adding
[code]
after this line
https://github.com/UKPLab/sentence-transformers/blob/a8cebb235066cacf533d073b8c8250e5e7b04c3d/sentence_transformers/SentenceTransformer.py#L105

It seems to work but the I get  this error:
[code]

So it does not seem to depend on your package.
Thanks for your help anyway.

[2022-10-03 13:40] lewtun commented on #76
Thanks for spotting this! This is an artifact from before we bundled the lib on PyPI - with the current implementation, no `requirements.txt` is needed AFAIK :)

[2022-10-03 13:44] lewtun commented on #73
Oh indeed, this seems to be a limitation with `mps` then :(

I'll close this issue for now and re-open it once the `cumsum.out` op is supported in `torch`

[2022-10-03 13:44] #73 closed

[2022-10-03 13:49] sayakpaul commented on #76
Ah cool. I saw you opened a patch fix already. So, I am gonna close the issue as well.

[2022-10-03 13:49] #76 closed

[2022-10-03 23:27] blakechi commented on #78
Hi @lewtun,
Thanks for your reply! `onnx_export` for `SetFitModel` sounds good to me.

Sure, happy to lend a hand on onnx after #8. :grinning:

[2022-10-04 17:47] ozyurtf opened #81 "Fine-tuning for Question-Answering"
Hello,

Can this library be used for fine-tuning a question-answering model with small amount of data as well ?

I have a data that is in the same format with squad data. It has small amount of context, question, and answers data.

Is it possible use this library to fine tune a question-answering model in huggingface (e.g. deepset/roberta-base-squad2) on my small data ? If it is, how should I set

[2022-10-05 11:58] lewtun commented on #81
Hi @ozyurtf, currently SetFit only works for sequence classification tasks - if we find a clean way to make it work for question answering, we'll definitely announce it here!

[2022-10-06 11:18] fhamborg opened #84 "Multi-label classification?"
Hi y'all! Awesome library, thanks a lot :-) I was wondering whether you are planning on adding support for multi-label classification, i.e., where each example has 0 or more true classes. As far as I understood the docs and code, currently `setfit` supports only single-label classification. Do you have any plans or timeline for this?

[2022-10-06 15:06] rajshah4 opened #85 "Sentence Pair Generation Question"
I am trying to understand SetFit - when I run the default code in the readme - 8 examples, 2 classes - I noticed the training dataset has 640 examples.  That 640 is probably going to include duplicate examples, right?  Can you share a bit more detail on the sentence generation process and the impact of duplicates?

[2022-10-07 06:10] blakechi commented on #8
Hi @lewtun,

Just want to know is this issue in progress now? If not, I have some bandwidth to work on it.
Or maybe we should wait until #69 merged?

Thanks!

[2022-10-07 08:40] lewtun commented on #8
Hey @blakechi if you have bandwidth, I would certainly welcome a PR for this 😍 !

For the API, I've been wondering whether we need something like `fastai`'s `freeze()` and `unfreeze()` [methods](https://docs.fast.ai/learner.html#transfer-learning), e.g.:

[code]

The alternative would be to do the freeze/unfreeze automatically for the user and have a single `trainer.train()` step - I think the ans

[2022-10-07 08:49] lewtun commented on #85
Thanks for the question @rajshah4 ! We should probably explain this in a FAQ section of the README :)

The way sentence pair generation works is as follows (see [code](https://github.com/huggingface/setfit/blob/16f9455f563e9a2d2e3394f447c36d42d6031b1d/src/setfit/modeling.py#L204) for more details):

* Given `[s_1,, s_2, ..., s_n]` sentences and `[l_1, l_2, ...., l_n]` labels
* For each `s_i` sampl

[2022-10-07 09:14] lewtun opened #90 "Implement trainer for distillation"
In our paper, we used knowledge distillation to compress a SetFit model into a smaller student. This logic is currently implemented as a [script](https://github.com/huggingface/setfit/blob/main/scripts/setfit/run_fewshot_distillation.py), but it would be valuable to refactor this out to a `SetFitDistillationTrainer` that people can use in e.g. a Jupyter notebook.

cc @orenpereg

[2022-10-07 09:58] castafra opened #91 "Using Setfit for similarity classification"
Hello,
I would like to test this promising framework on a similarity classification task. So basically, I have got a dataset with 3 columns: (sentence1,sentence2,label). From what I understand, currently it is only possible to train on a single sentence classification problem.
Is there a get around to use Setfit for a pair sentence classification problem ? If not, would it be possible to add this

[2022-10-07 10:16] lewtun commented on #91
Hi @castafra thanks for your interest in our work! I know @orenpereg ran some experiments on 2-sentence tasks like GLUE, but it wasn't entirely clear how one should create the text/label triples one needs for the contrastive learning step.

Perhaps he can share some more details on what worked / didn't work :)

[2022-10-07 12:34] lewtun opened #92 "Add support for zero-shot classification"
In our paper, we ran some experiments where adding synthetic data like:

[code]

and applying the SetFit method gave a boost in performance. In particular, one can use this technique for zero-shot classification and we found that it typically outperforms the BART model used in the `zershot-classification` pipeline in `transformers`.

It would be nice to enable this feature by having a function lik

[2022-10-08 06:48] blakechi commented on #8
Hey @lewtun,
Great! And the API looks good to me. But just a suggestion. Since `trainer.freeze` is kind of saying we're going to freeze all of the model (body + head) , what do you think if we branch out `freeze`/`unfreeze` for head and body individually? And `freeze`/`unfreeze` are for both. E.g.:

[code]

Okay, I will work on it after #69 merged. ;)

Thanks!

[2022-10-10 10:34] lewtun commented on #8
Sure, we can have methods like you suggest if we find it's necessary to freeze/unfreeze the head and the body.

I'm not 100% sure yet if we can get by with just freezing the body - it will probably take some experimentation to find out what works best :)

[2022-10-11 13:13] mpangrazzi commented on #65
Added in #69

[2022-10-11 13:13] #65 closed

[2022-10-11 16:41] bradleyfowler123 opened #97 "cache_dir argument of from_pretrained method not fully functional"
`SetFitModel.from_pretrained` (defined on [modeling.py#L69](https://github.com/huggingface/setfit/blob/main/src/setfit/modeling.py#L69)) does not pass necessary variables such as `cache_folder` to `SentenceTransformer` during initialization on line 82.

This can render the method useless in certain environments where api frameworks set the home directory to '/nonexistent' with no write permissions

[2022-10-12 05:21] blakechi commented on #8
Hi @lewtun, good to hear that! I think I will begin with implementing a new class `SetFitHead` and then integrate it into `SetFitModel` by adding one more argument: `use_differentiable_head`. Does this sound good to you?

[2022-10-12 06:31] hanshupe opened #99 "Multilabel Support"
What is the current status of multi label support? I saw a notebook for a multi label task here, but can't find it anymore. Can someone provide a working example for a multi label classification task? Thanks!

[2022-10-12 08:19] lewtun commented on #99
Hi @hanshupe, we've just merged a notebook showing how SetFit works for multilabel cases: https://github.com/huggingface/setfit/blob/main/notebooks/text-classification_multilabel.ipynb

(I'll also update the README shortly)

Feel free to close this issue if that answers your question

[2022-10-12 08:21] lewtun commented on #8
That sounds like a good plan to start with. If we can consistently match the performance of the scikit-learn approach, we can eventually deprecate that part and have a pure PyTorch model (my preference since it enables other features like ONNX export in future)

[2022-10-12 09:32] #99 closed

[2022-10-12 18:17] tanishbafna opened #102 "Save model to disk after training"
I am working on an HPC with no internet access on the worker nodes and the only option to save a model after training it is to push it to HuggingFace hub. How do I go about saving it locally to disk?

[2022-10-13 06:19] blakechi commented on #8
Ok, I will start to implement it!

[2022-10-13 10:18] Mouhanedg56 commented on #102
You can save the model locally using `_save_pretrained` method:
[code]

[2022-10-13 18:25] #102 closed

[2022-10-14 13:00] rajshah4 commented on #85
This works for me, thanks closing this issue

[2022-10-14 13:00] #85 closed

[2022-10-14 13:45] a-sharma123 opened #106 "Function to get probability values of predicted output (like sklearn's predict_proba)?"
Hi! I wanted to ask if there was an in-built function to get the probability value of predicted output from a classification task, something like predict_proba() from sklearn?

From what i understand currently the only way to get output is to run SetFitModel([text]), which works similar to sklearn predict().

[2022-10-14 16:14] lewtun commented on #106
Hi @a-sharma123 you can get the probabilities by using the `SetFitModel.predict_proba([text])` method. Hope that helps :)

[2022-10-15 10:58] vimal-quilt opened #107 "how to do image classification task using clip model of sentence transformers ?"
Hi,
Thanks for this wonderful library. will u direct how do i carryout the image classification kind of task using this lib through clip model.

[2022-10-17 00:29] nbertagnolli commented on #78
I'm not sure if this is helpful, but I was working on deploying some of these models using ONNX and this is what I came up with so far.  If others are looking for a place to start here is some code that will convert the base model and the head and then you can run them separately. I haven't been able to merge them into one graph yet but hopefully it's a start while we wait for #8 :).

`
from skl2o

[2022-10-17 00:46] eunseojo commented on #107
Hi! we've done this just for text classification at the moment. This work is based on Sentence Transformers, which is a text-based transformer model. Maybe extending a similar approach for vision could be an interesting new research direction!

[2022-10-17 00:46] #107 closed

[2022-10-17 07:10] blakechi commented on #8
Hi @lewtun,

I think I'm in the half way (or more) of the implementation and a question raised in my mind. From the API you suggested as below, after we unfreeze the head and fire up the training again, the body will be trained since it's in the end-to-end fashion. Do you think we should also enable users to freeze the body and train the head only as usual?

[2022-10-17 18:46] challos opened #108 "Are checkpoints directly available with the SetFitTrainer?"
Hi, just looking to see if checkpoints are implemented with the SetFitTrainer. Couldn't find it, unlike how the normal models in Hugging Face use `output_dir` for saving checkpoints when training a model.

[2022-10-17 19:39] lewtun commented on #108
Hey @challos - good question!

We don't currently support checkpointing, mainly because we didn't find a need for it in our experiments (we found 1 epoch was enough for the contrastive learning step).

Is there a use case you have where this feature would be useful?

[2022-10-17 20:53] challos commented on #108
My use case is admittedly not everybody's, but I was running the model over the course of several days on a non trivially sized dataset (~90k rows with 18k labels at 20 iterations for the trainer), only for the model to eventually finish after ~57 hours with the word 'Killed' at the end of the logs, and no model saved. The issue itself could've been brought about by it running on my desktop and me

[2022-10-18 06:24] blakechi commented on #8
Sounds great! Just added that. Start to work on testing.

[2022-10-18 09:39] lewtun commented on #108
Thanks for sharing the context @challos !

I think it would be relatively easy to save the checkpoints for contrastive learning step, since we could just pass these args to the `fit()` method of the `SentenceTransformer`: https://sbert.net/docs/package_reference/SentenceTransformer.html?highlight=checkpoint#sentence_transformers.SentenceTransformer.fit

The only downside I see is the proliferation

[2022-10-18 11:03] snayan06 opened #110 "more metrics addition (i.e f1score, precision ) in the trainer.evaluate()"
was just checking the code and saw only accuracy as a metrics, are we planning to add more metrics?

[2022-10-18 12:47] lewtun commented on #110
Hi @snayan06 thanks for your interest in `setfit`! Although `accuracy` is the default metric, you can specify a different one when you create the `SetFitTrainer`, e.g.:

[code]

Currently, we support any classification metric from the `evaluate` library: https://huggingface.co/docs/evaluate/index

[2022-10-18 13:04] snayan06 commented on #110
ok thanks for answering , was just looking to contribute and thought that was not there in setfit, and would have been helpful to add. thanks to pointing to the the library as well.

[2022-10-18 13:06] snayan06 commented on #110
Is there any way u guys track features and people can contribute to build these features, or it is just in the issues , new to open source but have been using huggingface/sbert models from a long time and thought if i can contribute in some way that would be good.

[2022-10-18 16:48] pdhall99 opened #111 "Error when loading a locally saved model"
When I try to load a locally saved model:
[code]
I get an error:
[code]

I think this could be solved by changing [these lines](https://github.com/huggingface/setfit/blob/a06be0efae1f71357aa357af8df42175f6adc91e/src/setfit/modeling.py#L84) from
[code]
to something like
[code]

[2022-10-18 17:11] challos commented on #108
+1 from me for that, I agree it proliferates the number of args, but it would also mean parity with the standard hugging face trainers. I'm relatively new to ML/DL so I'm not sure I can be of much help beyond this suggestion, though.

[2022-10-18 18:52] #111 closed

[2022-10-18 18:53] pdhall99 commented on #111
Duplicate of https://github.com/huggingface/setfit/issues/94

[2022-10-18 20:18] kamilc-bst commented on #110
What if I have multi-label classification problem + I want to evaluate my eval dataset via "f1" + specific average strategy like 'weighted' or 'micro' ? Is it supported ?

[2022-10-19 04:56] blakechi commented on #8
Hi @lewtun,

Just opened a pull request for this issue! Please have a check.

I haven't trained using the differentiable head, could you suggest a script for training? Thanks!

[2022-10-19 14:18] sersoage opened #113 "Question regarding framework"
Is it possible to just used the fine tuned model to just do encoding? Like the original version of setfit? If possible could you pls let me know how? Thanks in advance

[2022-10-20 06:13] hanshupe opened #115 "How many samples for setfit?"
I understood that setfit is a light weight solution for few shot learning. Two questions came up:
.) What would be number of samples of class you would switch to standard supervised learning and fine-tuning? E.g. 100 samples?
.) Is there any disadvantage ro generate too many pairs (num_iterations) If I have 30 classes, wouldnt be the default of 20 too small to learn meaningful embeddings?

[2022-10-20 08:43] secastro opened #116 "How to take advantage of Mac M1 GPUs?"
More than an issue, this is a request for help.

Do you have advice on how to take advantage of the Mac M1 Pro GPU for training a model, assuming the underlying Torch implementation provides support?

There are some tutorials on how to use Torch with the MPS driver, but I'm not sure how to signal SetFit to use a specific GPU.

[2022-10-20 09:01] castafra commented on #91
Hi @orenpereg , could you share any feedbacks on your experiments ?
Thanks

[2022-10-20 11:11] orenpereg commented on #91
Hi @castafra, Thanks for your question. Currently Setfit does not support two sentences similarity classification tasks and it's not trivial to apply SetFit for that. It will probably require changes within the Sentence Transformer itself. We do have plans to extend SetFit and one of the options is to examine similarity classification task. Having said that, i did play a bit with it, as a workarou

[2022-10-20 16:40] jpzhangvincent commented on #91
I also work on the similarity classification task. I think it would be great to extend the framework for that task.
It seems `setFit` uses the underlying `sentence_transformer` library, right? FWIW,  the example shows how to use `sentence_transformer` for similarity learning - https://www.sbert.net/examples/training/sts/README.html . I'm wondering whether we just need to implement a `sklearn-learn

[2022-10-20 16:53] krrishdholakia opened #117 "Using this for code gen?"
Can we use this for code generation?

[2022-10-21 05:38] RoacherM commented on #115
in my experiment(50 classes and each class used 20 to 50 examples), setfit accuracy is 0.857

[2022-10-21 06:17] hanshupe commented on #115
Did you compare it to supervised learning with fine-tuning?

[2022-10-21 12:48] lewtun commented on #117
Hi @krrishdholakia SetFit is designed for classification tasks, so it is not possible to use this for code generation.

[2022-10-21 13:05] lewtun commented on #113
Hi @sersoage if I understand correctly, you'd like to extract the embeddings from a fine-tuned `SetFitModel` right?

In that case you could use `SetFitModel.model_body.encode(inputs)`

[2022-10-21 13:07] lewtun opened #118 "Update model card generation for SetFit tasks"
The current `push_to_hub()` implementation uses `sentence-transformers`'s default model card which isn't quite correct because the task is `text-classfication` and not `feature-extraction`.

This results in a model card that is (a) missing nice information about the model / training process and (b) has the wrong widget:

![Screen Shot 2022-11-15 at 09 57 48](https://user-images.githubusercontent.c

[2022-10-21 16:38] sersoage commented on #113
Thanks!

[2022-10-21 16:38] #113 closed

[2022-10-21 16:38] sersoage commented on #113
Closing

[2022-10-21 19:15] ericlinML opened #119 "Using SetFit for regression tasks?"
I was curious about using SetFit for ordinal Likert scale outcomes (ie IMDB movie reviews). It doesn't seem like an obvious option in the SetFit API. Has anyone tried using SetFit for regression tasks?

[2022-10-23 03:15] Raidus commented on #92
Big vote for it! Was actually questioning if this could work.

[2022-10-23 21:28] pdhall99 commented on #92
I'll make a PR for this.

[2022-10-25 00:00] Raidus opened #120 "Using SetFit Embeddings for Semantic Search?"
Hi,

I was wondering if the semantic search would improve if one would train a multilabel-classification (or even binary classification) model and use those embeddings?

After training a binary classification model I have seen that the embeddings are changing quite a lot. For example I have compared cosine similarity for the word "acne" with the embeddings from `paraphrase-mpnet-base-v2` and the e

[2022-10-25 03:34] nbertagnolli commented on #119
Can you provide some more details about what you're trying to do I might be able to help : ).  If you have ordinal data you could treat it like a multiclass problem and setfit should 🤞 just work for that problem.  I haven't tried this but taking a look it appears you can set the head of the setfit model to be whatever you want so you could do something like:

`
from sentence_transformers.losses im

[2022-10-25 15:18] pj-mathematician opened #121 "SetFit CUDA error in Kaggle Notebooks"
I tried running the example notebooks provided [here](https://github.com/huggingface/setfit/tree/main/notebooks) (Multiclass and Multilabel). They both throw the same error while training:
[code]

Tried different configurations, changed batch_size to 1, it isnt working.

Side Note, Kaggle recently updated their backend, by providing larger CPU and 2 choices for GPU (P100 or 2x T4). I tried on both

[2022-10-25 15:36] doubianimehdi opened #122 "Predict method problem"
Hi, I'm trying to run the predict method on a dataframe text column and I have the following message :
this is the code : df_ri_manclassif['predicted']= model(df_ri_manclassif['global_text'].to_list())
this is the message : ---------------------------------------------------------------------------
NotFittedError                            Traceback (most recent call last)
~\AppData\Local\Temp/ipy

[2022-10-25 18:18] bilalghanem commented on #122
Are you sure that you loaded the trained model?
Also, you don't need to use `.predict`.  Just follow their example:
`preds = model(["i loved the spiderman movie!", "pineapple on pizza is the worst 🤮"])
`

[2022-10-25 19:00] doubianimehdi commented on #122
Yes, I just trained it before !!! also I tried ditching .predict and still not working ... I didn't upload to hub because I don't want to ...

[2022-10-25 19:00] doubianimehdi commented on #122
I'll post the code above this error tomorrow ...

[2022-10-25 21:02] rjac-ml opened #124 "id2label and label2id setup for inference"
I have add the id2label and labnel2id top the pretrained model, I know this is a Sentence Transformer model but I dont know if there is a way to pass the label mapper to the head of the SetFitModel

`model = SetFitModel.from_pretrained("sentence-transformers/paraphrase-mpnet-base-v2",num_labels=num_classes,id2label=id2label,label2id=label2id)
`

In that way in inference time we just call the SetFi

[2022-10-26 08:28] doubianimehdi commented on #122
here is the code :

`#` takes a sentence-transformers model
#clf = SetFitClassifier("malteos/scincl")
model_id = `"sentence-transformers/allenai-specter"`

`# fine-tunes embeddings + trains logistic regression head
#clf.fit(docs, labels)
#Trial 1 finished with value: 0.875 and parameters: {'learning_rate': 3.5528176658980156e-06, 'num_epochs': 4, 'batch_size': 8,
# 'num_iterations': 80, 'seed': 14

[2022-10-26 12:57] nsorros commented on #110
@lewtun one limitation though seems to be that in case of non binary labels there is no way to pass an average strategy. this would need to happen here
https://github.com/huggingface/setfit/blob/a06be0efae1f71357aa357af8df42175f6adc91e/src/setfit/trainer.py#L303

So in those cases you need to fallback to accuracy or write your own trainer. Would it be in scope to support those evaluations? I am ha

[2022-10-26 13:09] nsorros opened #126 "Does num_iterations create duplicate data?"
I am trying to get a better understanding behind this hyperparam. As far as I understand, you are iterating over the data `num_iterations` times and create a positive and negative pair by sampling. Could this result in duplicate data?

Also sometimes it tends to result in more examples than potential pairs for example in `imdb` for 3 shot there are 6 examples, 2 per class. Setting `num_iterations`

[2022-10-26 19:48] hanshupe commented on #120
I am very interested in this topic too - planning to use only the fine-tuning part and use the embeddings for semantic search. Any thoughts?

[2022-10-27 07:00] nsorros commented on #119
The ability to add a different head would be a nice addition to the documentation actually

[2022-10-27 10:17] kgourgou commented on #78
Thank you, @nbertagnolli !

A few issues that I had with the script and how I resolved them:

- For the paths to store the `onnx` models, the convert script expects that the directory that will contain them will be empty. Just create an empty `onnx` directory and put them in there.
- Be careful with the `initial_type` -- it should have the right shape for your LM.
- You should also use the appropr

[2022-10-27 12:21] doubianimehdi commented on #122
Someone ? Please Help ! I'm stuck !!!

[2022-10-27 21:46] nbertagnolli commented on #119
I can open a PR if folks want with examples.

[2022-10-28 13:32] PhilipMay opened #128 "I want to use F1 macro metric but can not set it."
I want to use F1 macro to evaluate the model.
But I can only pass a string to name the metric.
For F1 I would have to add `average="macro"` to the `compute` call here:

https://github.com/huggingface/setfit/blob/2bc12c6e41c3241aced7f210185e447384ca1652/src/setfit/trainer.py#L303

What do you think? Did I miss anything?

I can contribute a PR if wanted...

[2022-10-28 13:54] lewtun commented on #128
Hey @PhilipMay thanks for spotting this! There's a PR to fix this in #125

[2022-10-28 13:59] PhilipMay commented on #128
Ok cool. Thanks. Closing this now.

[2022-10-28 13:59] #128 closed

[2022-10-28 14:18] lewtun commented on #121
Hi @pj-mathematician it seems that `tensorflow` is the culprit here - if you add this line at the top of the notebook + restart, I found I could run it on the T4 instance:

[code]

[2022-10-28 15:13] PhilipMay opened #129 "Use amp / FP16"
Hi, since the sentence transformers support FP16 training (by setting `use_amp=True`)
can this also be build in here?

Not sure if this is a FR or a question. :-)

[2022-10-28 16:19] pj-mathematician commented on #121
Thanks! Works perfectly for both T4 and P100 now!

[2022-10-28 16:19] #121 closed

[2022-10-29 11:40] PhilipMay opened #131 "Problems with multi class classification"
Hi,
I have multiple problems with multi class classification.

The README sais that if you do multi class classification you must specify `multi_target_strategy`.

The strange thing is that all works fine with multiple classes when I do **NOT** add `multi_target_strategy`.

But when I specify `multi_target_strategy` the code complains with:

[code]

What did I miss? Is my data format wrong? IMO th

[2022-10-29 11:50] PhilipMay commented on #131
Well, I confused multi label with multi class I guess. Closing this again. Sorry.

[2022-10-29 11:50] #131 closed

[2022-10-29 14:42] PhilipMay opened #132 "[FR] add documentation about the `loss_class` selection"
Can you please add documentation about the `loss_class` selection?

There seems to be a new loss class implemented called `SupConLoss`.
Maybe you could add some documentation how to select them and which advantages and disadvantages that might have.

Many thanks
Philip

[2022-10-29 14:48] PhilipMay commented on #129
Should be easy to add it here:

https://github.com/huggingface/setfit/blob/7735e8e3b208edb8dfb549beb16e585453c5f44e/src/setfit/trainer.py#L276

[2022-10-30 11:29] PhilipMay opened #135 "Normalize before using LogisticRegression"
Hi,

as far as I can see is that setfit applies LogisticRegression on top of the output of the sentence transformer model.
See here:

https://github.com/huggingface/setfit/blob/7735e8e3b208edb8dfb549beb16e585453c5f44e/src/setfit/modeling.py#L49-L55

The problem I see is that the output is not normalized by default. Since we use Cosine Sim. to compare embeddings the
length of the vector does not ma

[2022-10-30 11:57] PhilipMay opened #136 "Redirect __call__ to predict in SetFitModel"
Hi,

imo because of dry principle this function:

https://github.com/huggingface/setfit/blob/7735e8e3b208edb8dfb549beb16e585453c5f44e/src/setfit/modeling.py#L61-L63

should just redirect to predict. Because of dry principle. Like this:

[code]

I can provide a PR if wanted.

[2022-10-30 11:58] PhilipMay commented on #129
see PR #134

[2022-10-30 17:57] doubianimehdi commented on #135
That explains those messages i'm getting : when using fit and trying to predict :

`_logistic.py:444:` ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative

[2022-10-31 10:20] Raidus commented on #120
I have reduced the dimensions with UMAP and visualized the embeddings of the training set with `all-MiniLM-L12-v2` vs `all-MiniLM-L12-v2-setfit` (fitted model). Then I just highlighted every text which includes "acne" and "pimple". The green ones are which do not include "acne" or "pimple". The actual task was a binary classification if a text is related to skincare or not.

It looks like that the

[2022-10-31 12:15] PhilipMay commented on #135
Well, I have a branch where I can enable normalize.

I did some tests with default settings, a normal BERT model (no pretrained sentence embedding model) and optuna.

Letting optuna optimize also the normalize parameter (True or False) shows that it is definitly better when NOT doing it.

This is strange since it means that the length of the vector seems to encode important information...

[2022-10-31 12:23] PhilipMay opened #137 "Warmup steps calculation should not ignore epochs."
The warmup steps calculation should not ignore epochs. See here:

https://github.com/huggingface/setfit/blob/7735e8e3b208edb8dfb549beb16e585453c5f44e/src/setfit/trainer.py#L275

The bug is where train steps is calculates here:

https://github.com/huggingface/setfit/blob/7735e8e3b208edb8dfb549beb16e585453c5f44e/src/setfit/trainer.py#L267

the right implementation is here (but not always executed):

[2022-10-31 12:25] PhilipMay opened #138 "[FR] Make warmup_steps configurable"
I would like to make warmup_steps configurable and not have it by default set to 0.1 times steps.

I can provide a PR if wanted.

My experience from hyperparameter optimization with optuna and sentence embeddings is that a value between 0.2 and 0.3 is best.

[2022-10-31 16:29] lewtun commented on #136
Oh yes, this would be much better indeed!

[2022-10-31 16:34] lewtun commented on #124
Hey @rjac-ml indeed the current way we save the model isn't ideal because the `config.json` file is missing the `label2id` and `id2label` mappings.

I'll add this when I get some time (unless you'd like to open a PR yourself, which is certainly welcome!)

[2022-10-31 18:01] PhilipMay commented on #129
closing this because PR is merged

[2022-10-31 18:01] #129 closed

[2022-10-31 19:18] lewtun commented on #132
Thanks for raising this @PhilipMay ! Indeed, I should document these options better - will add it to my TODO list :)

[2022-10-31 19:19] #137 closed

[2022-10-31 19:21] victorjmarin opened #141 "Use pre-computed token embeddings as features"
Thank you for sharing your work!

I would like to use pre-computed token embeddings `inputs_embeds` as opposed to relying on a tokenizer to generate `input_ids` from the column mapped to "text".

For context, my pipeline looks as follows:

1. Embed sequences with a transformer to obtain contextual embeddings of tokens.
2. For each sequence, keep embeddings for certain subsets of tokens.
3. Train c

[2022-10-31 19:27] PhilipMay commented on #138
PR is merged. Closing this.

[2022-10-31 19:27] #138 closed

[2022-10-31 20:01] PhilipMay commented on #136
PR is here: #142

[2022-11-01 11:58] PhilipMay commented on #135
@lewtun what is your opinion on this? Do you have more insights?

[2022-11-01 16:11] PhilipMay commented on #141
Since SetFit is internaly using sentence-transformers I guess that it is even more difficult. Also see here:

https://github.com/huggingface/setfit/blob/43dbaf1a914a08ff8ef8ec836ddd51586d7881bb/src/setfit/modeling.py#L319

[2022-11-01 16:16] PhilipMay opened #143 "[FR] document usage of differentiable head"
Can you please document the usage of the differentiable head in the README.md?
Maybe by just giving a simple example?

Maybe @blakechi ?

[2022-11-01 16:20] PhilipMay commented on #8
Can this be closed since the PR was merged?

[2022-11-01 16:28] lewtun commented on #143
Hi @PhilipMay this is a good suggestion - thanks! At some point I might need to make proper docs since the README is getting rather long :)

[2022-11-01 16:41] lewtun commented on #8
Yes, I think we can!

[2022-11-01 16:41] #8 closed

[2022-11-01 16:43] lewtun commented on #143
FYI I'm going to extend the notebooks to show this API as a way to show how everything works before the next release

[2022-11-02 03:15] ericlinML commented on #119
My work (sorry can't share data) involves looking at mental health patient audio journals (vastly longer than 512 tokens) that have some self report emotional rating scale attached to them "How sad were you today (rate from 1-5 with 1 being not at all to 5 being extremely sad)?" Generally stuff like that - our biggest hurdle is that we have long texts/transcripts and also small sample size, so I'v

[2022-11-02 05:19] blakechi commented on #143
Hi @PhilipMay,

Agree, I should add some examples and maybe also share some empirical suggestions. I can refine the text to at least make this section shorter :)

How do you think? @lewtun

[2022-11-02 05:37] blakechi commented on #78
Sorry for the waiting time and good new is **Issue #8** has been resolved!

Just a suggestion. Maybe @nbertagnolli can work on converting the sklearn head and I can work on the PyTorch version? So we can work on the part we are familiar with.  :)

[2022-11-02 12:19] PhilipMay opened #144 "[FR] use `MultipleNegativesRankingLoss`"
If we have more (or equal number of) classes than batch size it should be possible to use `MultipleNegativesRankingLoss`. This might improve performance.

I would like to get comments about this idea and might provide a PR later.
Does anyone have an opinion on this?

[2022-11-02 14:44] kgourgou commented on #136
Nice, looks like this can be closed. 👍

[2022-11-02 14:48] PhilipMay commented on #136
PR is merged - closing.

[2022-11-02 14:48] #136 closed

[2022-11-02 16:34] steve-marmalade opened #145 "SetFit for a large number of classes"
Hi there, thanks for releasing such an interesting library.

I am curious if any experiments have been run using SetFit in the extreme multiclass setting, say as `n_classes>=100`?

[2022-11-02 18:34] dgiova opened #147 "Reproducing RAFT experiments (Table 3)"
Hi, I wasn't able to locate the code to reproduce Table 3. I looked in the `scripts` folder but didn't have success.
Any help with this is greatly appreciated!

A side question on the RAFT results: did you use 10 random seeds for this experiment?

[2022-11-02 22:01] nbertagnolli commented on #78
Happy to help @blakechi do you have a branch you're currently working on? Want me to create one and put an initial ONNX script together? Nice work on #8!

[2022-11-03 06:36] blakechi commented on #78
Thanks, @nbertagnolli!

Or maybe we can open 2 PR separately? Seems like you are almost ready to open one, so I don't want to hold your back. 😅 But I'm fine on either way :)

Maybe you can give us some suggestion? Which way is more convenient for you to manage? @lewtun

[2022-11-04 01:22] nbertagnolli commented on #78
Sounds good @blakechi I'll open a PR soon with an initial script for onnx conversion and we can go from there! : )

[2022-11-04 04:51] blakechi commented on #78
okay, sounds good to me :)

Make sure you follow @lewtun 's suggestion as below:

[2022-11-04 08:47] MosheWasserb commented on #147
Hi, You will find all details on SetFit RAFT submission in my blog:
https://towardsdatascience.com/sentence-transformer-fine-tuning-setfit-outperforms-gpt-3-on-few-shot-text-classification-while-d9a3788f0b4e.
Since test data is unavailable (RAFT is a blind submission) you will not be able to validate for accuracy.
I recommend using the updated implementation from Hugging Face with the default hype

[2022-11-04 10:22] MosheWasserb commented on #145
Hi thanks for your feedback, I did try to run for clinc_oos 'plus' (150+1 classes): 151x8 samples (BS=32) got ACC. 78% vs. full data (>15K samples) 86%.  Will be great if you can share more results with large n.

[2022-11-04 12:10] PhilipMay commented on #135
Seems like SetFit already has something like this but only hidden in a script and not the main package...

https://github.com/huggingface/setfit/blob/43dbaf1a914a08ff8ef8ec836ddd51586d7881bb/scripts/setfit/run_fewshot.py#L118

[2022-11-04 15:16] lewtun commented on #78
Hey @nbertagnolli and @blakechi super cool that you're excited to work on the ONNX export for the two heads 🔥 !!

I agree it's best to have an initial PR first so we can hone the design and then iterate from there.

[2022-11-04 18:58] PhilipMay commented on #145
At the moment I am training on a German dataset with ~90 very unbalanced classes.
The monority class has 20 samples. The mayority class has 183 samples.

It works very good.

[2022-11-05 17:13] blakechi commented on #78
Do we also need a Python API for ONNX models?
Found this pretty helpful also from  [Diffusion](https://github.com/huggingface/diffusers/blob/c39a511b5ff7d37e594aad22b8ac85d0fef20406/src/diffusers/onnx_utils.py)

[2022-11-05 17:44] nbertagnolli commented on #78
I like that idea, I think that could make working with the sklearn heads easier. : )

[2022-11-05 20:38] kgourgou commented on #119
I can confirm that this is possible. Since the body is basically trained separately from the head, you can train as usual, then embed your training set with the body model and use the embedded data to train a new head. I've since been using a random forest, for example.

[2022-11-05 21:05] PhilipMay opened #153 "[Bug] using non default `loss_class` in `SetFitTrainer` fails"
If I am using `loss_class=losses.BatchHardTripletLoss` for example the training fails with this error:

[code]

[2022-11-05 21:24] PhilipMay commented on #153
To better understand the error, please see this commit with the regression test and the corresponding CI error:

https://github.com/huggingface/setfit/pull/154/commits/b5062b650afa26afe63fdb5744e3a0ba377abe68

[2022-11-07 10:28] LaurentClaessens opened #157 "Train my own dataset"
I have a dataset as json with tree classes (0, 1, 2) given as json:
[code]
Question: how do I train such a dataset ? Do I have to create the `.arrow` file ? How to do that ?

The key line in the tutorial that I have to adapt is this one:
[code]

[2022-11-07 12:23] LuketheDukeBates commented on #157
Hi Laurent!
I think you just need to convert your json file to a transformers dataset object.
For example,
[code]
Source: https://huggingface.co/docs/datasets/v1.1.3/loading_datasets.html

Hope that helps.

[2022-11-07 13:11] LaurentClaessens commented on #157
Thanks LuketheDukeBates. It makes the work.

Here is a "full" code if someone is interested.

In `ds.json`:
[code]
In the main python script:
[code]
At this point one can continue the example [in the README](https://github.com/huggingface/setfit).

[2022-11-07 13:33] #157 closed

[2022-11-07 14:54] AuravPadhi opened #158 "Can huggingface Trainer features be used in setfit?"
How can I use the following features in setfit

- Model parallelism
- Loading best checkpoint after training
- wandb integration like in the hf Trainer class

[2022-11-07 16:33] #153 closed

[2022-11-07 18:58] #141 closed

[2022-11-08 13:37] TimbusCalin opened #161 "How to improve the results in extreme unbalanced dataset?"
I am working on an extreme imbalanced dataset for the binary-classification task (somewhere around 99.2% class 0 and 0.8% class 2 therefore).

The problem is that I am training with `1000 examples per each class but the f1-score lies around 0.18, accuracy = 88%(as reported by trainer)`, by using the default:

[code]

What parameters and to what extent should I vary them in order to achieve better

[2022-11-08 14:36] lewtun commented on #161
Hey @TimbusCalin thanks for trying out the library! If you have 1000 examples per class, I think you'll get much better results with standard fine-tuning, e.g. using `distilbert` or similar: https://huggingface.co/course/chapter3/3?fw=pt

To handle the imbalance, you could try either downsampling the majority class or weighting your loss function. Here's a video where I show how you can do the lat

[2022-11-08 14:47] TimbusCalin commented on #161
I will have a look on the trainings you provided. I do use almost everyday huggingface so your suggestions are very (set)FIT for me :D. Thanks a lot!

[2022-11-08 14:47] #161 closed

[2022-11-08 20:41] lewtun commented on #158
Hi @AuravPadhi the `SetFitTrainer` is a rather lean version of the one in `transformers`. Regarding model parallelism, is there a particular use case you have in mind? In our experiments, we found 1 GPU was sufficient in the low-data regime

For the other two features, a pull request would be more than welcome! We could include support for callbacks, which would enable the WandB integration to be

[2022-11-09 08:07] AnshulP10 commented on #78
@nbertagnolli I tried this approach but I'm getting an issue regarding the inputs. I trained a multi-label model using text inputs

![image](https://user-images.githubusercontent.com/44372786/200773818-d9956020-38e9-481d-bd14-5c59c5da2bd4.png)

[2022-11-09 09:35] AnshulP10 commented on #158
I have a dataset of 80-90 classes with ~20 samples each and based on the hyperparameter search I found that the accuracy is best for 4 epochs so would need multi-gpu support. And is there a guideline for selecting the number of iterations if we have a large number of classes. I am currently using the standard 20

[2022-11-09 12:34] lewtun commented on #158
Thanks for sharing @AnshulP10 ! I believe @PhilipMay has run experiments at a similar scale, so perhaps they can share what iteration number worked well for them

[2022-11-09 12:39] lewtun opened #165 "Set good default value for `n_jobs` of Scikit-Learn classification heads"
Currently we use the default value of `n_jobs` when instantiating the Scikit-Learn classification head (see e.g. [here](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html?highlight=logistic) for details).

We should increase this from 1 to a sensible default (maybe `n_jobs=-1` is OK for most cases?). It could potentially be an argument that's also passed

[2022-11-09 12:45] PhilipMay commented on #158
Here is what I found for iterations in optuna for my usecase:

<img width="247" alt="image" src="https://user-images.githubusercontent.com/229382/200833840-04de7d2f-17d3-4cad-82af-5c2ef7eeb1eb.png">

[2022-11-09 12:48] AnshulP10 commented on #158
Thanks a lot @PhilipMay !
Could you tell me how many labels you have and whether it was multilabel or multiclass?
And are all these experiments for one epoch?

[2022-11-09 16:37] nbertagnolli commented on #78
@AnshulP10 please take a look at the PR we've been working on #156. @kgourgou  pointed out the above script has some things that you need to modify for some models. This PR hopefully addresses those concerns.  In the PR there is a function called export_onnx which should do what you want. Let me know if you still have trouble.

[2022-11-10 08:17] PhilipMay commented on #158
I have multi class:

- 3660 train samples
- minority classes in train set has 20 samples
- majority classes in train set has 183 samples
- I am doing 10 fold cross validation on the train set
- the mean of the first 4 folds is the result of my hyperparameter optimization

[2022-11-10 09:40] candalfigomoro opened #167 "Add conda-forge package"
It would be nice to add a setfit package to conda-forge https://conda-forge.org/ (in addition to pypi)

[2022-11-10 14:40] OskarLiew opened #168 "Add predict_proba method to differentiable head"
Right now there does not seem to be any easy way to get prediction probabilities from `SetFitModel` when using the differentiable head.

Example code:

[code]

Running the above code results in the following error

[code]

[2022-11-10 15:09] LordReigns commented on #165
Hello @lewtun,

First time contributor here, I would like to work on this issue if it is not assigned to anyone yet. 😄

[2022-11-10 15:09] tomaarsen commented on #165
The default of `n_jobs=-1` seems sensible for [`LogisticRegression`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html). That said, I don't see why this ought to be added to the `SetFitTrainer` necessarily, as it is already easy to instantiate the logistic regression head with any `n_jobs`:
[code]
Although I do recognize that it is nice to group all of

[2022-11-10 16:53] creatorrr opened #169 "RuntimeError: Expected all tensors to be on the same device"
**Code:**

[code]

**Error:**

[code]

**What fixed it:**

[code]

[2022-11-10 17:06] tomaarsen commented on #165
I've done some further testing on this now to study the performance impacts of various values for `n_jobs`. In particular, I've applied the following hack to profile the time-performance of [`LogisticRegression.fit`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html#sklearn.linear_model.LogisticRegression.fit):
[code]

I've combined this with a slightly

[2022-11-10 19:28] nbertagnolli commented on #168
This looks like a typo in the head I made a PR here which should fix it: #170. @blakechi could you take a look : )

[2022-11-10 21:00] piegu opened #172 "How to use max_length (number max of tokens) as an argument?"
Hi,

`max_length` is defined [here ](https://github.com/huggingface/setfit/blob/00aa8764282741b68cac4565d2f1553ecd995ae9/src/setfit/data.py#L239) with the value 32.

How to modify it?

Thank you.

[2022-11-10 21:19] piegu opened #173 "How to setup gradient_accumulation?"
Hi,

in order to train a model SetFit, I would like simulate a `batch_size` of 16 but with a `batch_size` of 8. For doing that, I need to setup `gradient_accumulation` to 2.

How to do that?

Thanks.

[2022-11-11 02:06] blakechi commented on #169
Hi @creatorrr , thanks for raising this issue up. Could you provide the complete code you found this error? Specifically the `ds` you used in your snippet such that I can reproduce the issue, thanks!

Some supplemental information. So by default, `model_head` will follow `model_body`'s device during initialization, so they should both on the GPU or CPU (`sentence-transformers` will put the model o

[2022-11-11 02:13] blakechi commented on #168
Just checked. It looks nice, thank you both!

[2022-11-11 02:20] blakechi commented on #172
Hello @piegu , thank you for raising up this issue.

So the `max_length` will be set to the maximum possible length according to the `model_body` (`sentence-transformers`) you use. Please see [here](https://github.com/huggingface/setfit/blob/main/src/setfit/modeling.py#L252) for details.

Hope this resolve your issue. If not, I think we can add one more argument when initializing `SetFitModel` wit

[2022-11-11 11:32] piegu commented on #172
Hi @blakechi,

Thank you for your reply.
However, I don't want to set `max_length` to the maximum possible length. I want to be able to set it to any value via an argument.

Example: texts in my dataset have a maximum of 128 tokens. Then, I want to be able to set this value as `max_length`.

Note: when using `transformers `from Hugging Face, I configure the `max_length` value in the tokenizer thro

[2022-11-11 12:52] creatorrr commented on #169
Here's the full script code:

[code]

[2022-11-11 15:13] vimal-b opened #174 "Exporting fine tuned model to ONNX"
Hi Team,
Thanks for this wonderful library.

A quick python package on top of setfit for exporting to onnx format.
## Installation
[code]
## How to Export
[code]

[2022-11-11 16:48] #165 closed

[2022-11-11 19:35] lewtun commented on #169
Thanks for sharing the full example @creatorrr - I was able to reproduce the error with the `emotion` dataset, so it's definitely a bug. It seems to be that calling `trainer.freeze()` followed by `trainer.unfreeze()` is the issue - perhaps some state is being preserved between the two calls

[2022-11-12 04:47] blakechi commented on #172
Sure, I think we can achieve it as what I mentioned here:

@lewtun  How do you think? I can open a PR for this 😀

[2022-11-12 04:57] blakechi commented on #169
Okay I think I know where the bug is.

So `sentence-transformers` by default initialize the model on CPU and it put the model on GPU if available when we call `fit`. [Ref 1](https://github.com/UKPLab/sentence-transformers/blob/master/sentence_transformers/SentenceTransformer.py#L103-L107) [Ref 2](https://github.com/UKPLab/sentence-transformers/blob/master/sentence_transformers/SentenceTransformer.

[2022-11-13 09:36] Yongtae723 opened #178 "Question : evaluation after every training epoch"
# Thank you
Hello!
I am Yongtae, a senior ML engineer in japan.
Thank you for publishing a genuinely excellent paper and code.
Few-shot learning and multilingual support are appreciated by engineers like me who work abroad!

# Question
I felt this model easily overfit to train data if the number of epochs is over 2 or train data contains similar data.
Therefore I would like to evaluate the model a

[2022-11-13 21:13] lewtun opened #179 "Refactor training hyperparameters in `SetFitTrainer` to dedicated class"
The current implementation of `SetFitTrainer` has become a bit bloated because it accepts all the hyperparameters for training as separate arguments. In hindsight, it would have been better to collect all the hyperparameters in a separate data class (similar to the [`TrainingArguments`](https://huggingface.co/docs/transformers/v4.24.0/en/main_classes/trainer#transformers.TrainingArguments) of `tra

[2022-11-14 07:52] OskarLiew commented on #168
Closed in #171

[2022-11-14 07:52] #168 closed

[2022-11-14 08:02] tomaarsen commented on #179
I'll get working on this in a week on the 21st, if it hasn't been claimed by then!

- Tom Aarsen

[2022-11-14 10:55] PhilipMay opened #180 "[FR] Add docstring for `from_pretrained`"
https://github.com/huggingface/setfit/blob/99c30746799a09e0267427b8a7b8650568222b48/src/setfit/modeling.py#L311-L324

PS: I might provide a PR

[2022-11-14 12:31] tomaarsen commented on #180
You are likely aware of this, but `_from_pretrained` is only used internally, and its docstring would never be exposed to users.

Let me explain: `SetFitModel` subclasses [`PyTorchModelHubMixin`](https://github.com/huggingface/huggingface_hub/blob/31b5fde431bb8e87fbbf8ce1d35484c86a040a07/src/huggingface_hub/hub_mixin.py#L405) which subclasses [`ModelHubMixin`](https://github.com/huggingface/huggin

[2022-11-14 12:48] PhilipMay commented on #180
@tomaarsen I agree. But from user perspective there should be some documentation about how to create the model.
To create it `from_pretrained` has to be used. So my question: How do you suggest to document that?

[2022-11-14 13:29] tomaarsen commented on #180
I see two options that I would find satisfactory:

1. `SetFitModel.from_pretrained` is already documented via [`ModelHubMixin.from_pretrained`](https://github.com/huggingface/huggingface_hub/blob/31b5fde431bb8e87fbbf8ce1d35484c86a040a07/src/huggingface_hub/hub_mixin.py#L101). I believe that documentation is fine as is.
2. If we really want to update the documentation for `SetFitModel.from_pretrain

[2022-11-15 07:55] lewtun commented on #179
Thanks @tomaarsen - that would be wonderful! Feel free to ping me if you need any guidance :)

[2022-11-15 08:58] tomaarsen commented on #178
Hello!

My understanding of the paper (as another enthusiast like yourself) is that the model is trained in two separate phases. i.e.:

1. The SentenceTransformer body is *fully* finetuned.
2. Only then, the classifier head is *fully* trained.

The approach that you're describing in your code block is to repeatedly finetune one epoch on the SentenceTransformer body and then train one epoch on the

[2022-11-15 09:15] lewtun opened #181 "Add real documentation"
This project is reaching a state where some proper docs would be valuable to help people navigate various features, prevent the README from becoming huge etc.

To do so, we can adopt the same process taken for other libraries in the Hugging Face ecosystem. This involves:

* Creating a `docs` folder with a `_toctree.yml` file and various MDX files for each section
* Adding a "quadrant of needs" on

[2022-11-15 09:23] lewtun commented on #118
We can also take inspiration from `sentence-transformers` directly via this implementation: https://github.com/UKPLab/sentence-transformers/blob/master/sentence_transformers/model_card_templates.py

[2022-11-15 20:05] pleonova opened #182 "Save Model Locally trainer.save_model()"
First off, super excited about all this work! Also really appreciate the [youtube presentation](https://www.youtube.com/watch?v=8h27lV8v8BU) and the [blogpost](https://huggingface.co/blog/setfit), super insightful to read through. I went through the existing issues and couldn't find whether this an existing functionality:

Is there a way to save the model locally instead of pushing to the hub?
So

[2022-11-15 22:50] pleonova commented on #120
This is super neat! Thanks for sharing the UMAP comparison @Raidus!

Tangential question, are you uploading your model to the HF hub or you storing the fine-tuned model locally and then calling it to get the embeddings?

[2022-11-16 00:34] Yongtae723 commented on #178
Hi Tom!
Thank you for your reply!

I understand your point. However, it is still very difficult to evaluate the performance of the model at each epoch when training SentenceTransformer (since the model_head is not trained).

However, I have a good idea to solve this problem and am now implementing the training of setfit with PyTorch Lightning.
I am almost done with the coding and will contact you

[2022-11-16 09:51] tomaarsen commented on #179
Now that `DistillationSetFitTrainer` has entered the picture, how do we want to structure the new classes?
`Trainer`, `DistillationTrainer` and `TrainingArguments`?

Furthermore, I noticed that training using `use_differentiable_head=True` requires some freezing/unfreezing and multiple calls to `trainer.train()`. My intuition for a `Trainer` is that it requires one call to perform all of the train

[2022-11-16 12:34] tomaarsen opened #186 "[Bug] `__call__`/`predict` has different shape using differentiable head"
Hello!

## Bug overview
* When using a differentiable head, the output shape of calling `__call__` or `predict` (they're aliases) is `(N, 1)` with `N` as the number of parameters.
* When using the logistic regression head, the output of that same call is `(N,)`.

## How to Reproduce
### For a differentiable head

<details><summary>Copy-pasteable reproducing script (Script 1)</summary>

[code]
</de

[2022-11-16 13:04] theainerd commented on #182
It would be nice to have something like that. Presently that throws an error.

[2022-11-16 13:06] tomaarsen opened #188 "[Bug] `apply_hyperparameters` gives TypeError when `model_init` is not given"
Hello!

## Bug overview
* `apply_hyperparameters` carelessly assumes that `model_init` was passed to the `Trainer` instance.

## How to Reproduce
<details><summary>Copy-pasteable reproducing script (Script 1)</summary>

[code]
</details>

Running this script gives the following error:

[code]

This is due to line 184 in the following snippet. If instead I passed an empty dictionary as params, then

[2022-11-16 13:13] tomaarsen opened #189 "[Bug] Error when initializing `DistillationSetFitTrainer` without `train_dataset`"
Hello!

## Bug overview

## How to Reproduce
<details><summary>Copy-pasteable reproducing script (Script 1)</summary>

[code]
</details>

Running this script gives the following error:

[code]

For reference, if I neglect to add a `train_dataset` to the regular `SetFitTrainer`, then I get the following:
<details><summary>Copy-pasteable reproducing script (Script 2)</summary>

[code]
</details>

[c

[2022-11-16 20:31] Raidus commented on #81
Would be interested, too 😊

[2022-11-17 05:50] HenryYuen128 opened #191 "How to build multilabel text classfication dataset"
From the sample below, param **column_mapping** is used to set up the dataset. What is the format of label column in multilabel?Is it the one-hot label?

trainer = SetFitTrainer(
    model=model,
    train_dataset=train_dataset,
    eval_dataset=eval_dataset,
    loss_class=CosineSimilarityLoss,
    metric="accuracy",
    batch_size=16,
    num_iterations=20, # The number of text pairs to generate

[2022-11-17 08:26] tomaarsen commented on #191
Please have a look at the [text-classification_multilabel.ipynb](https://github.com/huggingface/setfit/blob/main/notebooks/text-classification_multilabel.ipynb) example notebook for information on how to do multilabel training.

The `train_dataset` used in that notebook is:
[code]
from the ethos multilabel dataset.

In this dataset, `train_dataset["labels"]` looks like so:
[code]
Note that there a

[2022-11-17 09:13] theainerd opened #192 "How to use a custom Sentence Transformer pretrained model"
Hello team,

Presently we are using models which are present in hugging face . I have a custom trained Sentence transformer.
How I can use a custom trained Hugging face model in the present pipeline.

[2022-11-17 09:40] HenryYuen128 commented on #191
Thanks. And is it possible to apply TrainingArguments in HuggingFace?  It seems that evaluate after each epoch training does not work now?

[2022-11-17 09:54] tomaarsen commented on #191
No, the `SetFitTrainer` doesnot accept HuggingFace `TrainingArguments`, sadly. Evaluating after every epoch is only possible by forking this repository and building that in yourself. However, I believe that callbacks for each-epoch evaluation may be implemented in the future.

[2022-11-17 10:06] tomaarsen commented on #192
It is as simple as switching out the model name from the following script with the model name on Hugging Face, assuming that the model was pushed to Hugging Face. If the SentenceTransformer is in a local folder, then you can give the path to that folder too. If instead the model is on the Hugging Face hub, but private, then you may provide `use_auth_token` to authenticate yourself.
See the [`from_

[2022-11-17 10:34] Faisal-Hajari opened #193 "picking which GPU to run the model on"
Hello,
First, thanks for the great lib and great work. I was wondering if there is a way to pick which cuda device to run my model on ? tried to search for it but it seems to automatically detect and just pick.

[2022-11-17 10:46] theainerd commented on #192
Thanks for the quick reply.
The SentenceTransformer is in a local folder, then you can give the path to that folder too. I am trying to load it from a local folder.

[code]

This is the error I am getting when running the `trainer.train()` command.
[code]
This one I can understand there must be something wrong as i am using the sbert and trainer method together.

If I am trying to load it using th

[2022-11-17 11:20] tomaarsen commented on #192
I believe the latter code block with `SetFitModel.from_pretrained` is the correct approach. I see now that others have experienced similar issues:
* https://github.com/huggingface/setfit/issues/94

There was an attempted fix for this, but the tests for that PR (#114) only cover some of the test cases, i.e. not your scenario where your model is likely saved with `model.save_pretrained` where `model

[2022-11-18 05:14] blakechi commented on #186
Hi @tomaarsen,

Thanks for raising this up! I should test the differentiable head for binary classification.

This issue is also similar to one in my mind that maybe we should use `CrossEntropyLoss` for both binary and multi-class classification, so we won't forget to test either. And it can solve the [issue](https://github.com/huggingface/setfit/pull/187#issuecomment-1317112370) in PR #187 about

[2022-11-18 10:12] tomaarsen commented on #186
That sounds reasonable! Assuming that we can expect similar performance for `CrossEntropyLoss` rather than `BCELoss`, as I believe they are a bit different (sigmoid vs softmax).

[2022-11-18 12:08] Rispo997 opened #195 "Getting class labels"
Hello, I did train a set fit model with the default sklearn head.
Now I want to start doing predictions with the model, but I don't want to take just the top prediction, but the top N.
So I guess the correct way is outputting the probabilities with:
`preds = model.predict_proba(["This is a sentence"])`
Then I would get an array of probabilities, and I take the top-N prob. But then how do I convert

[2022-11-18 12:55] #195 closed

[2022-11-18 12:56] Rispo997 commented on #195
They are stored under model_body. classes_

[2022-11-18 18:34] kgourgou commented on #182
You should be able to do `model.save(path_str)` as usual.

[2022-11-19 11:49] kgourgou commented on #192
@theainerd

You just need another model to play the role of the head. Going directly through the trainer won't work because it expects a `SetFit` instance, not a `SentenceTransformer` one.

The way I do it is

[code]

[2022-11-19 14:09] theainerd commented on #192
Thanks @kgourgou,

The only change if my problem is multiclass classification problem is to add a different head instead of Logistic regression.

[2022-11-19 20:54] kgourgou commented on #193
This is something that should be exposed at the level of SetFit.

Currently, a SentenceTransformer is initialized here:

https://github.com/huggingface/setfit/blob/5313939b638b57668a1b5a67ef600e54da221d9a/src/setfit/modeling.py#L325

If you look at the documentation of the [SentenceTransformers](https://www.sbert.net/docs/package_reference/SentenceTransformer.html#sentence_transformers.SentenceTra

[2022-11-20 09:09] blakechi commented on #186
yeah good point! I will run some experiments to test whether they can perform similarly. If so, will open a PR for it

[2022-11-20 09:46] orenpereg commented on #189
Good catch! thank you Tom

[2022-11-20 21:30] FaezeGhorbanpour opened #197 "[Bug] AttributeError: 'numpy.float64' object has no attribute 'pop'"
Hi,

First of all, I would like to thank you for providing this great and useful library.
The following libraries are installed with Python 3.9:
setfit==0.4.1
optuna==3.0.3
transformers==4.20.1

On my dataset, I wanted to run a hyperparameter search using setfit[optuna]. As my dataset is imbalanced, I changed the trainer's metric from accuracy to weighted f-score (using Scikit-learn's f-score func

[2022-11-21 09:06] tomaarsen commented on #197
The hyperparameter search implementation has a `compute_objective` parameter, which is an optional function that computes the objective to minimize or maximize from the metrics returned by the `evaluate` method. By default, this is the following method from HF Transformers:

https://github.com/huggingface/transformers/blob/cbb8a37929c3860210f95c9ec99b8b84b8cf57a1/src/transformers/trainer_utils.py#

[2022-11-21 09:11] tomaarsen commented on #179
I'd like to start working on this once there is a consensus on whether this approach seems best!

[2022-11-21 09:14] theainerd commented on #192
@kgourgou

i was able to resolve the problem and use the pretrained transformer as you mentioned.
But it feels like we are unable to train the head for long enough.

[code]
I get the following error and the accuracy is very bad.

[code]

I tried to freeze the model and train the head for longer epochs but i guess that not supported with scikit-learn head.

[2022-11-21 09:23] tomaarsen commented on #192
@theainerd

Perhaps you'll find more luck with increasing the number of iterations for the [LinearSVC](https://scikit-learn.org/stable/modules/generated/sklearn.svm.LinearSVC.html)?
[code]

- Tom Aarsen

[2022-11-21 10:26] kgourgou commented on #192
How did you pick the epochs for the model head? 🤔

I may be wrong, but I think all options re: training that you pass to the trainer, e.g., num_epochs, num_iterations, etc., are only about the body and not the head. The head runs `.fit()` with whatever options it has a default. You can override the defaults the way Tom describes in https://github.com/huggingface/setfit/issues/192#issuecomment-1321

[2022-11-22 06:59] divastar opened #198 "text similarity"
Hi can I use this system to obtain the similaarity scores of my data set to a given prompts.
If not what best solution could help this problem?
thank you

[2022-11-22 07:41] Yongtae723 opened #199 "Question : why is model_original_state necessary?"
In SetFitModel, self.model_original_state is defined, as you can see [here](https://github.com/huggingface/setfit/blob/main/src/setfit/modeling.py#L225:~:text=l2_weight%20%3D%20l2_weight-,self.model_original_state%20%3D%20copy.deepcopy(self.model_body.state_dict()),-def%20fit).

But I don't see this variable being used again. So I wonder why you define that.
Since self.model_original_state contain

[2022-11-22 20:58] FaezeGhorbanpour commented on #197
My error has been resolved by your comment. Thanks.

[2022-11-22 20:58] #197 closed

[2022-11-23 05:47] theainerd commented on #192
@kgourgou  @kgourgou

Thanks for your input . I was able to get improvement when i set `max_iter = 500` and also tried with other values.
Results improved but the error of Convergence Warning remains the same and also the accuracy vary a lot for different mac_iter values.

I have **20 classes** with **16 samples** each.

Is it because the svm head is unable to learn or not converge with a custom s

[2022-11-23 11:52] nishanthcmesh commented on #73
```cumsum:out``` now works with the nightly version of PyTorch for MPS. Could you give me a bit of guidance or a reference ```.to()``` function that I can use to submit a pull request for this?

[2022-11-23 12:47] fralik commented on #198
I am not an author of this library. However, I would share my thoughts.

This library is to fine-tune models (i.e. train models), which can then later used to obtain similarity scores. If you only have a data set and given prompts, then have a look at [sentence-transformers](https://www.sbert.net/docs/pretrained_models.html) library. Use one of the pre-trained models directly. Calculate embeddings

[2022-11-23 13:51] tomaarsen commented on #199
Hello!

A `model_original_state` variable is used a few times in the different [`scripts`](https://github.com/huggingface/setfit/tree/main/scripts/setfit), so perhaps it's a relic from converting the scripts into a larger repository?

I agree that it does not seem needed. I'll make a PR so the maintainers can easily accept this change, should they agree with us.

- Tom Aarsen

[2022-11-23 15:32] Yongtae723 commented on #199
@tomaarsen
Hi Tom! I confirmed your PR!

Thank you for it!

Yongtae

[2022-11-23 15:32] #199 closed

[2022-11-23 15:46] divastar commented on #198
Hi Fralik,
thank you for your responce.
I do want to better the model for my usecase in my language
I do have data matching specific categories enough data to train for each category.
But at the end I will only need to specify similarity scores of any user's prompt to all my data categories
So I understand that I can finetune some multilingual model for example 'paraphrase-multilingual-MiniLM-L12-

[2022-11-24 06:03] kavya-pc commented on #182
It can be done by
trainer.model._save_pretrained(save_directory=save_directory).

Here is the link to the solution where it has already been answered - https://github.com/huggingface/setfit/issues/102

[2022-11-24 19:14] fralik commented on #198
Yes, sounds right to me. In SetFit's readme file you are presented with multiple ways of fine-tuning. I think that you need to train using `SetFitHead`. This is an example where they show that body is fine-tuned with the head. Once you are done with fine-tuning, you can throw away the head and only use the underlying body to get embeddings.

[2022-11-25 02:28] pleonova commented on #182
Thank you @kgourgou and @kgourgou, that worked!

[2022-11-25 02:28] #182 closed

[2022-11-25 13:45] joaogui1 opened #205 "Bad performance with SetFitHead example"
When running the examples listed in usage I've got the following results:
[code]
So I think either the second script has bad hyperparameters or there's some bug with SetFitHead, any idea which of these could be the case?

[2022-11-25 14:30] Bourhano commented on #192
Is there a way to overide the `model_head` using just the `SetFitModel` class (the setfit library, in general)?
I am in a restrictive environment and only have access to the installed libraries (notably setfit) but sentence_transformers is not installed.

[2022-11-25 14:49] kgourgou commented on #192
@Bourhano sounds like you want to override the model body not the model head? The model head is the logistic regression and the body is the sentence transformer (ST).

I could imagine that you could push any model_body as long as it implements the methods required by SetFitModel and SetFitTrainer.

[2022-11-25 15:19] Bourhano commented on #192
@kgourgou Well I actually needed to modify the head, but in order to do so I have to load the SetFitModel using the SetFitModel() constructor and not using the function SetFitModel.from_pretrained(). That is why I am obliged to first load the `model_body` then the `model_head`.

Anyway problem solved now, it turns out I already have access to the library sentence_transformers.
Thanks anyway.

[2022-11-27 09:46] divastar commented on #198
thank you! I will work on that

[2022-11-27 20:36] tomaarsen commented on #205
This is a matter of how the `train_dataset` is set up. The first script uses
[code]
while the second script uses
[code]

Furthermore, you can indeed modify the hyperparameters somewhat. I removed the `l2_weight=0` and increased the number of epochs from 25 to 50. If you only use the first definition for `train_dataset`, then you may expect approximately the following performances between the diffe

[2022-11-28 10:51] jegork opened #206 "Moving trained model between devices"
Hello!
Is there a way to move the trained SetFit model to another device?
E.g. I train a model on a GPU, and after initializing the model on a CPU-only machine I get
`RuntimeError: Attempting to deserialize object on a CUDA device but torch.cuda.is_available() is False. If you are running on a CPU-only machine, please use torch.load with map_location=torch.device('cpu') to map your storages to the

[2022-11-28 14:08] tomaarsen commented on #179
I'll wait on this for a bit due to the large amount of ready-to-go PRs that would inevitably cause large merge conflicts if I started already.

[2022-11-28 21:54] mfluegge opened #208 "Confusion about correct learning rate when running contrastive fine-tuning"
Hey,

first off - great work, I really like the idea of SetFit! I like it so much in fact that I want to reproduce it :grin: . In the paper you mention that you use a learning rate of `1e-3` for all the few-shot experiments. When looking at `scripts/setfit/run_fewshot.py` I can see that this is in fact the argparse default value for the `lr` parameter
https://github.com/huggingface/setfit/blob/fa1

[2022-11-28 22:58] nv78 opened #209 "Limitations of Setfit Model"
Hi, was wondering your thoughts on some of the limitations of the Setfit model. Can it support any sort of few shot text classification, or what are some areas where this model falls short? Are there any research papers / ideas to address some of these limitations.

Also, is the model available to call via Hugging Face's inference API for enterprise. We saw the Ag-News endpoint, but are there any

[2022-11-29 06:10] blakechi commented on #206
Hi @jegork,

Thanks for raising this issue up!

Ya, I think by simply adding a `to` function for `SetFitModel` can fulfill your needs. But I think there might have something we need to fix due to the error you mentioned. Could you provide more details on how you initializing the model? Or maybe provide a snippet to reproduce the error? Thanks!

[2022-11-29 10:52] tomaarsen commented on #208
Hello!

Well spotted! That is a bug in [setfit/scripts/setfit/run_fewshot.py](https://github.com/huggingface/setfit/blob/main/scripts/setfit/run_fewshot.py). In my personal experiments, values around `2e-5` have worked the best. Using `trainer.apply_hyperparameters`, I found that `3e-5` works well for me. My quick tests just now with `1e-3` only produce very poor results. For a binary classificati

[2022-11-29 11:14] OskarLiew opened #211 "SetFitHead incompatible with multi-label classification"
Hello!

I want to use `SetFitHead` in a multi-label setting but there seems to be some problems. It works well with the logistic regression head, but not with the differentiable head.

The following code yields an error
[code]

When running this code, the dataloader in `setfit.train` returns long labels rather than float(they get converted by the `Dataloader` even though `SetFitDataset.y` is the c

[2022-11-29 11:39] tomaarsen commented on #211
cc: @blakechi as he introduced the differentiable head.

And for @OskarLiew, I want to point your attention to #203, which intends to modify the `SetFitHead` and its loss functions. Alongside with #187 it aims to solve the issue that you described with long and float labels.

However, the other issues that you described that limit multi-label classification using the differentiable head would not

[2022-11-30 05:17] blakechi commented on #211
Hi @OskarLiew,

`SetFitHead` was not build for support multi-label classification initially. So it's great that you raise this up!

As @tomaarsen mentioned, there are many pending PRs right now for `SetFitHead`, which make things become complicated. But feel free to add this feature first since I have put #203 on hold. I will merge your update later in #203.

Will leave some suggestion in your PR

[2022-11-30 07:59] PhilipMay opened #213 "[FR] Should add that this is only used when using `distance_metric = BatchHardTripletLossDistanceFunction.cosine_distance`"
https://github.com/huggingface/setfit/blob/fa1021d2355f0cb3a2c85732ee7ffe44b0cef0d1/src/setfit/trainer.py#L48

I can provide a PR l8er.

[2022-11-30 12:00] jegork commented on #206
Hey @blakechi

I've fine-tuned a SetFit model, that was initialized using:
[code]

Afterwards, I've saved it using `.save_pretrained` and loaded into HF hub. Later I've initialized it again using same code above, and it lead me to this error. I fixed it by moving both head and body to CPU and saving and uploading it again to HF hub, which solved the issue.

[2022-11-30 20:17] PhilipMay opened #216 "[FR] Use normal dict instead of `**model_kwargs` in `_from_pretrained`"
The `_from_pretrained` function of the `modeling` module has an argument called `**model_kwargs`. See here:

https://github.com/huggingface/setfit/blob/fa1021d2355f0cb3a2c85732ee7ffe44b0cef0d1/src/setfit/modeling.py#L337

IMO this should be changed. The problem I see is that it "collects" all keyword arguments from the function that are not defined. Later it only handles those assigned to `head_pa